body{
    /*height: 98vh;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sign-up-header{
    font-size: 48px;
}

.header{
    color: aliceblue;
    display: flex;
    width: 150vh;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.information-head{
    font-size: 36px;
    
    color: #1F2937;
    margin-bottom: 60px;
    margin-top: 60px;
}
.image-text{
    color: rgb(77, 77, 77);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    width: 200px;
}
ul{
    display: flex;
    list-style: none;
    gap: 50px;
    
}

.top{
    display: flex;
    flex-direction: column;
    background: #1F2937;
    
    align-items: center;
}

img{
    border-radius: 8px;
    border: #3882F6;
    
}

.sign-up img{
    width: 60vh;
    height: 30vh;
    border-radius: 2px;
}

.image-group{
    display: flex;
    margin-bottom: 50px;
    gap: 150px;
}

.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}
.second-mid{
    display: flex;
    background: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.inspiring-quote{
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.inspiring-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.sign-up{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 150vh;
    
}
.sign-up-text{
    color: aliceblue;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    margin-right: auto;
}

.sign-up-text p{
    font-size: 22px;
}
.sign-up-text button{
    background: #3882F6;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    font-size: medium;
}


.sign-up-section{
    display: flex;
    background: white;
    justify-content: center;

}
.call-to-action{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 5px;
    color: #E5E7EB;
    background: #3882F6;
    padding-left: 100px;
    padding-right: 100px;
}

.sign-up-button{
    background-color: #3882F6;
    border: 2px solid;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    font-size: 15px;
    color: aliceblue;
}


.action-call{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    margin-right: 100px;
      
}
.footer{
    display: flex;
    background: #1F2937;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: rgb(250, 250, 250);
    
}
