body{
    /*height: 98vh;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.information-head{
    font-size: 36px;
    
    color: #1F2937;
    margin-bottom: 60px;
    margin-top: 60px;
}
.image-text{
    color: rgb(77, 77, 77);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    width: 200px;
}

.top{
    display: flex;
    
    background: #1F2937;
}
img{
    border-radius: 8px;
    border: #3882F6;
    
}
.image-group{
    display: flex;
    margin-bottom: 50px;
    gap: 150px;
}

.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}
.second-mid{
    display: flex;
    background: #E5E7EB;
}
.sign-up-section{
    display: flex;
    background: white;
    justify-content: center;

}
.call-to-action{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 5px;
    color: #E5E7EB;
    background: #3882F6;
    padding-left: 100px;
    padding-right: 100px;
}

.sign-up-button{
    background-color: #3882F6;
    border: 2px solid;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    font-size: 15px;
    color: aliceblue;
}

.action-call{
    
    display: flex;
    flex-direction: column;
    margin-right: 100px;
      
}
.footer{
    display: flex;
    background: #1F2937;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: rgb(250, 250, 250);
    
}
